	<head>
		<title>{% if page.title %}{{ page.title | escape }} | {{ site.title }}{% else %}{{ site.title | escape }}{% endif %}</title>

  		{% include meta.html %}
		
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{{ '/assets/css/reset.css' | prepend: site.baseurl }}">
		<link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}">
		<link rel="stylesheet" href="{{ '/assets/css/post.css' | prepend: site.baseurl }}">
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->

		<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">
		<link rel="canonical" href="{{ page.url | replace: 'index.html', '' | prepend: site.baseurl | prepend: site.url }}">

	</head>
	<body id="top">
		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="image avatar"><img src="{{ site.baseurl }}/images/logo.png" alt="" /></a>
					<!-- <ul>
						{% for category in site.categories %}
						  <li><a href="/category/{{ category | first }}/"># {{ category | first }}</a></li>	    
						{% endfor %}
					</ul> -->
					<ul>
						<li><a href="/category/graphic_design/">#인쇄디자인</a></li>
						<li><a href="/category/logo_design/">#로고디자인</a></li>
						<li><a href="/category/photography/">#촬영</a></li>
						<li><a href="/category/shopping_design/">#쇼핑몰디자인</a></li>
						<li><a href="/category/web_design/">#웹디자인</a></li>
					</ul>
				</div>
				{% include footer.html %}
			</header>